.page-title {
  font-family: "Georgia", "Times New Roman", "Times", serif;
}

body {
  font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 3px;
  text-indent: 24px;
  text-shadow: 2px 2px 4px #212121;
  background-color: #fafafa;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
